<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="preview.png" />
    <meta property="og:description" content="beyondPixels, a 500px clone, is a web application that allows amateur and professional photographers to share their world through their own lenses." />
    <meta property="og:url" content="https://beyondpixels.herokuapp.com/#/" />
    <meta property="og:title" content="beyondPixels" />

    <title>beyondPixels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/357a429341.js" Crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('bP_fav.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

